.switcher-container {
  display: flex;
  margin: 30px 30px 50px 30px;
}

.switch-title {
  margin-right: 60px;
  color: #414141;
  font-size: 1.5em;
  font-weight: bold;
}

.button-container button {
  margin-left: 50px;
  width: 160px;
  border-radius: 5px;
  height: 30px;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
}

.button-container button:hover {
  background-color: rgb(34, 120, 201);
  color: white;
}

.blue-button {
  background-color: rgb(34, 120, 201);
  color: white;
}
