.cards-container {
  background-color: rgba(34, 120, 201, 0.84);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-radius: 5px;
  padding: 20px 0 20px 0;
  margin-bottom: 20px;
}

.continent-title {
  text-align: center;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 335px;
  height: auto;
  box-shadow: 3px 3px 5px #252525;
}

.card h4 {
  text-align: center;
}

.card hr {
  color: black;
}

.card-titles {
  display: flex;
}

.card-titles li {
  display: flex;
}

.card-title {
  color: black;
  font-weight: bold;
  padding-right: 8px;
}

.card:hover {
  background-color: rgb(235, 235, 235);
}
